* {
	padding: 0;
	margin: 0;
}

body {	/* background: rgb(58,180,89); */
	background: linear-gradient(145deg, rgba(58,180,89,1), rgba(73,253,29,0.9570027840237657), rgba(169,252,69,1), rgba(200,252,69,1), rgba(237,252,69,1)); 
	/* background-image: url(image1.jpg); */
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	font-family: sans-serif;
}

.menu-bar {
	background: rgb(0,100,0);
	text-align: center;
}

.menu-bar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li {
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover {
	background: #2bab0d;
	border-radius: 3px;

}

.menu-bar .fa {
	margin-right: 8px;
}

.sub-menu-1 {
	display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
	color: #b2ff00;
}

.fa-angle-right {
	float: right;
}

.sub-menu-2 { 
	display: none; 
}

.hover-me:hover .sub-menu-2 {
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background: linear-gradient(90deg, #2E8B57, #3CB371, #8FBC8F, #98FB98);
	background-size: 1000% 1000%;
	animation: subMenu2 30s ease infinite;
}

@keyframes subMenu2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
